.DS_Store
Export*
haxelib/demos/PiratePig/Assets/fonts/FreebooterUpdated.eot
haxelib/demos/PiratePig/Assets/fonts/FreebooterUpdated.svg
haxelib/demos/PiratePig/Assets/fonts/FreebooterUpdated.woff
haxelib/demos/TextAlignment/Assets/VERDANA.TTF
haxelib/demos/TextAlignment/Assets/VERDANAB.TTF
haxelib/demos/TextAlignment/Assets/VERDANAI.TTF
haxelib/demos/TextAlignment/Assets/VERDANAZ.TTF
haxelib/demos/TextMetrics/Assets/LiberationSerif-Regular.eot
haxelib/demos/TextMetrics/Assets/LiberationSerif-Regular.svg
haxelib/demos/TextMetrics/Assets/LiberationSerif-Regular.woff
.hxcpp_cache
